<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
  <meta charset="UTF-8">
	<title></title>
	<meta name="generator" content="LibreOffice 6.3.2.2 (Linux)"/>
	<meta name="author" content="Eluisiana"/>
	<meta name="created" content="2020-07-14T19:50:00"/>
	<meta name="changedby" content="Eluisiana"/>
	<meta name="changed" content="2020-07-17T13:45:00"/>
	<meta name="AppVersion" content="15.0000"/>
	<meta name="DocSecurity" content="0"/>
	<meta name="HyperlinksChanged" content="false"/>
	<meta name="LinksUpToDate" content="false"/>
	<meta name="ScaleCrop" content="false"/>
	<meta name="ShareDoc" content="false"/>
	<style type="text/css">
		@page { size: 8.27in 11.69in; margin-left: 1.18in; margin-right: 1.18in; margin-top: 0.98in; margin-bottom: 0.98in }
		p { margin-bottom: 0.1in; direction: ltr; line-height: 115%; text-align: left; orphans: 2; widows: 2; background: transparent }
	</style>
</head>
<body lang="pt-BR" link="#000080" vlink="#800000" dir="ltr">
<center>
	<table width="673" cellpadding="7" cellspacing="0" style="page-break-before: always">
		<col width="65"/>

		<col width="48"/>

		<col width="99"/>

		<col width="180"/>

		<col width="209"/>

		<tr valign="top">
			<td width="65" height="30" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				<font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Data</font></font></p>
			</td>
			<td width="48" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				<font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Aula</font></font></p>
			</td>
			<td width="99" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				<font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Disciplina</font></font></p>
			</td>
			<td width="180" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				<font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Conteúdo</font></font></p>
			</td>
			<td width="209" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				<font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Atividade</font></font></p>
			</td>
		</tr>
		<tr valign="top">
			<td width="65" height="31" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				<%=props.days[0].day%></p>
			</td>
			<td width="48" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				1º</p>
			</td>
			<td width="99" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				<%=props.days[0].disciplines[0]%></p>
			</td>
			<td width="180" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				<%=props.days[0].contents[0]%></p>
			</td>
			<td width="209" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				<%=props.days[0].activities[0]%></p>
			</td>
		</tr>
		<tr valign="top">
			<td width="65" height="28" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				<%=props.days[0].day%></p>
			</td>
			<td width="48" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				2º</p>
			</td>
			<td width="99" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				<%=props.days[0].disciplines[1]%></p>
			</td>
			<td width="180" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				<%=props.days[0].contents[1]%></p>
			</td>
			<td width="209" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				<%=props.days[0].activities[1]%></p>
			</td>
		</tr>
		<tr valign="top">
			<td width="65" height="31" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				<%=props.days[1].day%></p>
			</td>
			<td width="48" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				1º</p>
			</td>
			<td width="99" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				<%=props.days[1].disciplines[0]%></p>
			</td>
			<td width="180" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				<%=props.days[1].contents[0]%></p>
			</td>
			<td width="209" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				<%=props.days[1].activities[0]%></p>
			</td>
		</tr>
		<tr valign="top">
			<td width="65" height="31" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				<%=props.days[1].day%></p>
			</td>
			<td width="48" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				2º</p>
			</td>
			<td width="99" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				<%=props.days[1].disciplines[1]%></p>
			</td>
			<td width="180" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				<%=props.days[1].contents[1]%></p>
			</td>
			<td width="209" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				<%=props.days[1].activities[1]%></p>
			</td>
		</tr>
		<tr valign="top">
			<td width="65" height="28" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				<%=props.days[2].day%></p>
			</td>
			<td width="48" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				1º</p>
			</td>
			<td width="99" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				<%=props.days[2].disciplines[0]%></p>
			</td>
			<td width="180" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				<%=props.days[2].contents[0]%></p>
			</td>
			<td width="209" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				<%=props.days[2].contents[0]%></p>
			</td>
		</tr>
		<tr valign="top">
			<td width="65" height="31" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				<%=props.days[2].day%></p>
			</td>
			<td width="48" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				2º</p>
			</td>
			<td width="99" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
			  <%=props.days[2].disciplines[1]%></p>
			</td>
			<td width="180" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				<%=props.days[2].contents[1]%></p>
			</td>
			<td width="209" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				<%=props.days[2].activities[1]%></p>
			</td>
		</tr>
		<tr valign="top">
			<td width="65" height="28" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				<%=props.days[3].day%></p>
			</td>
			<td width="48" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				1º</p>
			</td>
			<td width="99" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				<%=props.days[3].disciplines[0]%></p>
			</td>
			<td width="180" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				<%=props.days[3].contents[0]%></p>
			</td>
			<td width="209" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				<%=props.days[3].activities[0]%></p>
			</td>
		</tr>
		<tr valign="top">
			<td width="65" height="31" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				<%=props.days[3].day%></p>
			</td>
			<td width="48" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				2º</p>
			</td>
			<td width="99" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				<%=props.days[3].disciplines[1]%></p>
			</td>
			<td width="180" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				<%=props.days[3].contents[1]%></p>
			</td>
			<td width="209" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				<%=props.days[3].activities[1]%></p>
			</td>
		</tr>
		<tr valign="top">
			<td width="65" height="31" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				<%=props.days[4].day%></p>
			</td>
			<td width="48" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				1º</p>
			</td>
			<td width="99" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				<%=props.days[4].disciplines[0]%></p>
			</td>
			<td width="180" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				<%=props.days[4].contents[0]%></p>
			</td>
			<td width="209" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				<%=props.days[4].activities[0]%></p>
			</td>
		</tr>
		<tr valign="top">
			<td width="65" height="31" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				<%=props.days[4].day%></p>
			</td>
			<td width="48" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				2º</p>
			</td>
			<td width="99" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				<%=props.days[4].disciplines[1]%></p>
			</td>
			<td width="180" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				<%=props.days[4].contents[1]%></p>
			</td>
			<td width="209" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				<%=props.days[4].activities[1]%></p>
			</td>
		</tr>
		<tr valign="top">
			<td width="65" height="31" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				<%=props.days[4].day%></p>
			</td>
			<td width="48" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				3º</p>
			</td>
			<td width="99" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				<%=props.days[4].disciplines[2]%></p>
			</td>
			<td width="180" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				<%=props.days[4].contents[2]%></p>
			</td>
			<td width="209" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				<%=props.days[4].activities[2]%></p>
			</td>
		</tr>
		<tr valign="top">
			<td width="65" height="31" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				<%=props.days[5].day%></p>
			</td>
			<td width="48" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				1º</p>
			</td>
			<td width="99" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				<%=props.days[5].disciplines[0]%></p>
			</td>
			<td width="180" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				<%=props.days[5].contents[0]%></p>
			</td>
			<td width="209" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				<%=props.days[5].activities[0]%></p>
			</td>
		</tr>
		<tr valign="top">
			<td width="65" height="30" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				<%=props.days[5].day%></p>
			</td>
			<td width="48" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				2º</p>
			</td>
			<td width="99" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				<%=props.days[5].disciplines[1]%></p>
			</td>
			<td width="180" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				<%=props.days[5].contents[1]%></p>
			</td>
			<td width="209" style="border: 1px solid #bfbfbf; padding: 0in 0.08in"><p>
				<%=props.days[5].activities[1]%></p>
			</td>
		</tr>
	</table>
</center>
<p style="margin-bottom: 0.11in; line-height: 108%"><br/>
<br/>

</p>
</body>
</html>
